<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/estructura">Navegación</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/estructura">Estructura</a>
          <a class="nav-link" routerLink="/panel">Panel</a>
          <a class="nav-link" routerLink="/binding">Binding</a>
          <a class="nav-link" routerLink="/formularios">Formulario</a>
          <a class="nav-link" routerLink="/alumno">Alumno</a>
          <a class="nav-link" routerLink="/usuarios">Usuarios</a>
        </div>
      </div>
    </div>
</nav>
